a.list-group-item.clearfix([routerLink]='recipeIndex', routerLinkactive='active')
  .pull-left
    h4.list-group-item-heading {{ recipe.name }}
    p.list-group-item-text {{ recipe.description }}
  span.pull-right
    img.img-responsive([src]='recipe.imagePath', alt, style='max-height: 50px;')
